---
Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 80

PointerAlignment: Right
DerivePointerAlignment: false

BreakBeforeBraces: Attach
AccessModifierOffset: -2

AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

AlignAfterOpenBracket: Align
IndentExternBlock: NoIndent
